@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', cursive;
}

.animation-screen {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    background-color: white;
    background-image: url('img/minimalist-circle.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

/* .animation-screen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

.master-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* height: 130vh; */
    margin: auto;
    background-color: #FAFAFA;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 10vh;
    width: 90%;
    margin-top: 2vh;
}

.navbar div {
    width: 40%;
}

.navbar .social {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.social img {
    width: 3vh;
    height: 3vh;
}

.upper-profile {
    display: flex;
    flex-direction: row;
    margin: 5% 0%;
    height: 20vh;
    width: 100%;
}

.upper-profile div {
    width: 45%;
    height: 100%;
}

.upper-profile .profile-dp img {
    margin-left: 5vh;
    width: 12vh;
    height: 12vh;
    border-radius: 100%;
}

.upper-profile .profile-stats {
    margin-right: 2vh;
}

.upper-profile h1 {
    font-size: 2rem;
    color: #262626;
    text-align: end;
}

.upper-profile p {
    font-size: 0.7rem;
    text-align: end;
}

.stories {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 10vh;
    margin: 5% 0%;
}

.stories div {
    width: 15vh;
    height: 15vh;
    text-align: center;
}

.stories div h4 {
    font-size: 0.75rem;
}

.stories div h1{
    font-size: 1.5rem;
    color: #05386B;
}

.label-text {
    margin: 2.5vh;
}

.posts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 5vh;
}

.posts div {
    width: 49vw;
    height: 49vw;
    margin-top: 1%;
    overflow: hidden;
}

.posts div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.posts div img:hover {
    transform: scale(1.25);
    transition: all .5s;
}

.posts div img:not(:hover) {
    transform: scale(1);
    transition: all .5s;
}

                                            /* Magical Stuff */

span {
    text-align: center;
    background-image: linear-gradient(90deg, white, cyan, black);
    background-size: 0% 3px;
    background-repeat: no-repeat;
    background-position: left bottom;
    transition: background-size 1s ease;
}

span:hover {
    background-size: 100% 3px;
}

pen {
    text-align: center;
    /* background-image: linear-gradient(90deg,  silver, rgb(216, 216, 216), silver); */
    background-image: url("img/Loading-ecg.gif");
    background-size: 0% 4rem;
    border-radius: 20%;
    background-repeat: no-repeat;
    background-position: left bottom;
    transition: background-size 1s ease;
}

pen:hover {
    background-size: 100% 4rem;
}